<div>

<form method="POST" action="/links">
  Enter your url:
  <input type="text" name="url">
  Enter your title:
  <input type="text" name="title">
  Enter your tag:
  <input type="text" name="tags">
  <input type="submit" value="Create link">
</form>

</div>
